:root {
    --bg-color: #2b64ad;
    --font-primary: #fff;
    --font-secondary: rgba(0 0 0 / 10%);
    --rating-yellow: #f8e16e;
    --rating-white: #f6f4e5;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: var(--bg-color);
}